POCKETBASE_ADMIN_EMAIL=curtis@builtnetworks.com
POCKETBASE_ADMIN_PASSWORD=Yunowifi1233!!
GEMINI_API_KEY=your_gemini_api_key_here
OPENROUTER_API_KEY=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
AI_PROVIDER=openrouter
AI_MODEL=google/gemini-flash-1.5-8b # only used if provider is openrouter
SMTP_HOST=mx.builtnetworks.com
SMTP_PORT=587
SMTP_USER=abstract@bangsmackpow.qzz.io
SMTP_PASS=28WiFIV7BAJRtlynZeY48UsYAV5lgIl8
SMTP_FROM=Abstract ETL <abstract@bangsmackpow.qzz.io>
APP_URL=http://192.168.254.5:5173
